@import normalize, foundation, corporate-design/variables

button.btn-lang
  background: none
  border: none
  box-shadow: none
  width: 100%

button.btn-lang:hover
  background: #222
  outline: none

.float-left
  float: left
  margin-right: 1em

.float-right
  float: right
  margin-left: 1em