{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <form action="{% url 'edit-subject' subject.name %}" method="post">
    {% csrf_token %}
    <table class="table">
      {{ form.as_table }}
    </table>
    <div class="row">
      <div class="column large-2 small-3">
        <input class="button" type="submit" value="👈 {% trans 'Cancel' %}" name="cancel"/>
      </div>
      <div class="column large-2 small-3 large-offset-8 medium-offset-6">
        <input class="button" type="submit" value="👍 {% trans 'Done' %}" />
      </div>
    </div>
  </form>
{% endblock %}
