{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% if create %}
<h1 class="mb-3">{% trans 'Add Subject' %}</h1>
<form action="{% url 'create-subject' %}" method="post">
{% else %}
<h1 class="mb-3">{% trans 'Edit Subject' %}</h1>
<form action="{% url 'edit-subject' subject.name %}" method="post">
{% endif %}

  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="form-group">
    <label class="col-form-label" for="{{ form.name.id_for_label }}">{% trans 'Name' %}</label>
    <input type="text" class="form-control" name="{{ form.name.html_name }}" id="{{ form.name.id_for_label }}" value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
    {{ form.name.errors }}
  </div>

  <div class="form-group">
    <label class="col-form-label" for="{{ form.description_de.id_for_label }}">{% trans 'German Description' %}</label>
    <textarea class="form-control" name="{{ form.description_de.html_name }}" id="{{ form.description_de.id_for_label }}" rows="6" aria-describedby="descDeEntry">{{ form.description_de.value }}</textarea>
    <small id="descDeHelp" class="form-text text-muted">{% trans 'A german description for the subject.' %} {% trans '<a href="https://commonmark.org/help/">Markdown</a> is supported.' %}</small>
    {{ form.description_de.errors }}
  </div>

  <div class="form-group">
    <label class="col-form-label" for="{{ form.description_en.id_for_label }}">{% trans 'English Description' %}</label>
    <textarea class="form-control" name="{{ form.description_en.html_name }}" id="{{ form.description_en.id_for_label }}" rows="6" aria-describedby="descEnEntry">{{ form.description_en.value }}</textarea>
    <small id="descEnHelp" class="form-text text-muted">{% trans 'An english description for the subject.' %} {% trans '<a href="https://commonmark.org/help/">Markdown</a> is supported.' %}</small>
    {{ form.description_en.errors }}
  </div>

  <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}">
  <a href="{% url 'index' %}" type="button" class="btn btn-danger">{% trans 'Cancel' %}</a>
</form>
{% endblock %}
