{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <h2>{{ subject.name }}</h2>
  <div class="row">
    <div class="description column small-12">

    {{ subject.description }}
    </div>
  </div>
  <div>
    <p>
      {% if perms.course.create_course %}
        <a href="{% url 'create-course' %}?subject={{ subject.id }}" class="button float-left" role="button">➕ {% trans "Create new course" %}</a>
      {% endif %}

      {% if perms.course.edit_subject %}
        <a class="button float-left" href="{% url 'edit-subject' subject.name %}" role="button">🖊 {% trans "Edit" %}</a>
	  {% endif %}

      {% if subject and perms.course.delete_subject %}
        <form class="float-right" method="post" action="{% url 'delete-subject' subject.name %}">
          {% csrf_token %}
          <button class="button alert" role="link" type="submit">❌ {% trans 'Delete' %}</button>
        </form>
      {% endif %}
    </p>
  </div>

  <hr>

  {% include 'course_list.html' %}

{% endblock %}
