{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h2>{% trans "Subject Overview" %}</h2>
  <p>
    {% trans "Right now, we offer courses on the following topics:" %}
  </p>
  <table class="table">
    <thead>
      <tr>
        <td>{% trans "Name" %}</td>
        <td>{% trans "Courses" %}</td>
      </tr>
    </thead>
    <tbody>
      {% for subject in subjects %}
        <tr>
          <td><a href="{% url 'subject' subject.name %}">{{ subject.name }}</a></td>
          <td>{{ subject.active_courses.count }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
