{% load staticfiles %}
{% load i18n %}
<html>
<head>
	<link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}">
	<link type="text/css" rel="stylesheet" href="{% static "css/style_override.css" %}">
	<script type="text/javascript" src="{% static "vendor/js/modernizr.js" %}"></script>
	<title>{% if title %}{{ title }} | {% endif %}{% trans "Course Manager" %} - Beta</title>
</head>
<body>
  {% block header %}
    <header>
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="{% url 'index' %}" class="column small-7 headline">{% trans "Course Manager" %} - <i>Beta</i></a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <div class="right">
            {% block header_nav %}
            {% endblock %}
          </div>
        </section>
      </nav>
    </header>
  {% endblock header %}
  <div>
    <div class="row">
      <nav class="column small-2">
        <ul class="side-nav">
          {% block side_nav %}
            &nbsp;
          {% endblock side_nav %}
        </ul>
      </nav>
      <section class="column small-10">
        <div class="content">
          <div class="heading green nav">
            {% block content_heading %}
              &nbsp;
            {% endblock %}
          </div>
          <div class="main">
            {% block content %}
            {% endblock content %}
          </div>
        </div>
      </section>
    </div>
  </div>
  <hr>
  <footer>

    <div class="row">
      <div class="column medium-6 small-18 small-centered" style="text-align: center">
        <a href="https://www.ifsr.de" style="color:#444;">FSR Informatik</a> | <a href="https://www.ifsr.de/fsr:kontakt" style="color:#444;">{% trans "Imprint" %}</a> | <a href="{% url 'privacy-policy' %}" style="color:#444;">{% trans "Privacy Policy" %}</a> | <a href="https://github.com/fsr/course-management/issues/new" style="color:#444;">{% trans "Report an Issue" %}</a><br>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="{% static "vendor/js/jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/js/jquery-ui.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/js/foundation.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/js/fastclick.js" %}"></script>
  <script type="text/javascript">
    $(document).foundation();
  </script>
  <script>
    $(".datepicker").datepicker({
      dateFormat: 'dd.mm.yy',
      constrainInput: false
    });
  </script>
</body>
</html>
