{% extends 'base-shell.html' %}

{% load subject_list %}
{% load i18n %}

{% block header_nav %}
  <ul>
    {% if user.is_authenticated %}
      <li class="has-dropdown">
        <a href="{% url 'user-profile' %}">
          👤 {{ user.userinformation }}
        </a>
        <ul class="dropdown">
          {% if perms.course_management.add_course %}
            <li><a href="{% url 'create-course' %}">🆕 {% trans "Create course" %}</a></li>
          {% endif %}
          {% if perms.course_management.add_subject %}
            <li><a href="{% url 'create-subject' %}">🆕 {% trans "Create subject" %}</a></li>
          {% endif %}
          {% if perms.course_management.add_poll %}
            <li><a href="{% url 'poll-create' %}">🆕 {% trans "Create poll" %}</a></li>
          {% endif %}
          <li><a href="{% url 'modify-user' %}">🖊 {% trans "Edit your data" %}</a>
          <li><a href="{% url 'password_change' %}">🔒 {% trans "Change pass" %}</a></li>
          <li><a href="{% url 'logout' %}">🚪 {% trans "Logout" %}</a></li>
        </ul>
      </li>

    {% else %}
      <li><a href="{% url 'register' %}">{% trans "Sign up" %}</a></li>
      {% url 'logout' as logout_url %}
      <li><a href="
          {% url 'login' %}{% if not no_login_redirect and not request.path == logout_url %}?next={{ request.path }}{% endif %}">{% trans "Sign in" %}</a>
      </li>
    {% endif %}
    {% if False %}
    <li class="has-dropdown">
      <a href="#">Language</a>
      <ul class="dropdown">
        <li>
          <form action="{% url 'set_language' %}" method="post" id="language-form" name="language-form">
            {% csrf_token %}
            <input type="hidden" name="language" id="language" value="de" />
            <button type="submit" class="btn btn-lang" value="de">de</button>
          </form>
        </li>
        <li>
          <form action="{% url 'set_language' %}" method="post" id="language-form" name="language-form">
            {% csrf_token %}
            <input type="hidden" name="language" id="language" value="en" />
            <button type="submit" class="btn btn-lang" value="en">en</button>
          </form>
        </li>
      </ul>
    </li>
    {% endif %}
  </ul>

  {% if backurl %}
    <a href="{{ backurl }}">
      <span class="glyphicon glyphicon-chevron-left" title="back"></span>
    </a>
  {% endif %}

{% endblock %}

{% block side_nav %}
  <li class="heading">
    {% if user.is_authenticated %}
      <a href="{% url 'subject-overview' %}">{% trans "Subjects" %}</a>
    {% else %}
      {% trans "Subjects" %}
    {% endif %}
  </li>
  {% show_active_subjects %}

	{% if true %}
	  <li class="divider"></li>
	  <li><a href="{% url 'subject-overview' %}">Complete overview</a></li>
	{% endif %}
{% endblock %}
