{% extends 'base.html' %}
{% load i18n %}
{% block content %}
	<div class="description">

	</div>
	<div class="courses">
		<div>
			<div class="row">
				<div class="column small-6">{% trans "Subject" %}</div>
				<div class="column small-6">{% trans "Number of courses" %}</div>
			</div>
		</div>
    <div>
      {% for subject in subjects %}
        <a href="{% url 'subject' subject.name %}">
          <div class="row">
            <div class="column small-6">{{ subject.name }}</div>
            <div class="column small-6">{{ subject.active_courses.count }}</div>
          </div>
        </a>
      {% endfor %}
    </div>
	</div>
{% endblock %}
