{% extends 'base.html' %}
{% block content %}
<p>
  You can edit the description for your course here. You can use html to do so, allowed_tags are {{ allowed_tags|join:", " }}.
</p>
<form method="post" action="{% url 'edit-course' course_id %}">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" />
</form>

<form method="post" action="{% if course_is_active %}{% url 'deactivate-course' course_id %}{% else %}{% url 'activate-course' course_id %}{% endif %}">{% csrf_token %}<input type="submit" value="Set course {% if course_is_active %}inactive{% else %}active{% endif %}" /></form>
{% endblock %}
