{% extends 'base.html' %}

{% block content %}
  <table class="table">
  <thead>
    <tr>
      <td>Slot</td>
      <td>Location</td>
      <td>edit</td>
    </tr>
  </thead>
  <tbody>
    {% for slot in schedule.slots %}
      <tr>
        <td>{{ slot }}</td>
        <td>{{ slot.place }}</td>
        <td>
          <form method="post" action="{% url 'course-remove-slot' course_id slot.id %}{% if target %}?target={{ target }}{% endif %}">
          {% csrf_token %}
          <input type="submit" value="remove">
        </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
  <form action="{% url 'course-add-slot' course_id %}" method="post">
    <table>
      {{ form.as_table }}
    </table>
    {% csrf_token %}
    <input type="submit" value="Add">
  </form>
{% endblock %}