{% load staticfiles %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link type="text/css" rel="stylesheet" href="{% static "css/layout.css" %}">
  <title>{% if title %}{{ title }}{% else %}iFSR Course Management{% endif %}</title>
</head>
<body class="container">
  {% block header %}
    <header class="row">
      <a href="" class="col-md-10" id="headline">
        <span>iFSR Course Management</span>
      </a>
      <a href="https://ifsr.de" class="col-md-2" id="top_logo">
        <img src="{% static "img/LogoStandard.svg" %}">
      </a>
    </header>
  {% endblock header %}

  <div class="row">
    <nav class="col-md-2">
      <div class="sidebar shadow">
			  {% block nav %}
					<header class="green">Subjects</header>
          <ul>
            {% for course in active_courses %}
              <li>{{ course.subject.name }}</li>
            {% endfor %}
          </ul>
			  {% endblock nav %}
      </div>
		</nav>
    <section class="col-md-10">
      <div class="content shadow">
		    <header class="green nav">
			    <a href="">Menu Item</a>
			    <a href="">Menu Item</a>
			    <a href="">
				    <span class="glyphicon glyphicon-chevron-left" title="back"></span>
		      </a>
		    </header>
	      {% block content %}
			  {% endblock content %}
      </div>
	  </section>
  </div>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>
