{% load staticfiles %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link type="text/css" rel="stylesheet" href="{% static "css/layout.css" %}">
	<link href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
  <title>{% if title %}{{ title }} | iFSR Course Management{% else %}iFSR Course Management{% endif %}</title>
</head>
<body class="container">
  {% block header %}
    <header class="row">
      <a href="{% url 'index' %}" class="col-md-7 headline">
        <span>iFSR Course Management</span>
      </a>
      <a href="https://ifsr.de" class="col-md-2" id="top_logo">
        <img src="{% static "img/LogoStandard.svg" %}">
      </a>
    </header>
  {% endblock header %}

  <div class="row">
    <nav class="col-md-2">
      <div class="sidebar shadow">
			  {% block nav %}
					<div class="heading green">Subjects</div>
          <ul class="subjectlist">
            {% for subject in active_subjects %}
              <li><a href="{% url 'subject' subject.name %}">{{ subject.name }}</a></li>
            {% endfor %}
          </ul>
			  {% endblock nav %}
      </div>
		</nav>
    <section class="col-md-10">
      <div class="content shadow">
		    <div class="heading green nav">
		      {% if user.is_authenticated %}
						<div class="userpanel">
							<strong>{{ user.student }}</strong>
							<div>
								<ul class="subjectlist">
                  <li><a href="{% url 'modify-user' %}">Edit your data</a>
									<li><a href="">Change pass</a></li>
									<li><a href="{% url 'logout' %}">Logout</a></li>
								</ul>
							</div>
						</div>
					{% else %}
				    <a href="{% url 'register' %}">Sign up</a>
				    <a href="{% url 'login' %}">Sign in</a>
					{% endif %}
			    {% if backurl %}
				    <a href="{{ backurl }}">
					    <span class="glyphicon glyphicon-chevron-left" title="back"></span>
			      </a>
			    {% endif %}
		    </div>
	      <div class="main">
		      {% block content %}
				  {% endblock content %}
        </div>
      </div>
	  </section>
  </div>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>
