{% extends 'base.html' %}
{% block content %}
<div class="description">
	<div class="headline">{{ subject.name }}</div>
	{{ subject.description }}
</div>
<div class="courses">
	<div class="thead">
		<div class="row">
			<div class="col-md-5">Teacher</div>
			<div class="col-md-5">Timeslots</div>
			<div class="col-md-2">Participants</div>
		</div>
	</div>
	<div class="tbody">
		{% for course in subject.course_set.all %}
			<a href="{% url 'course' course.id %}">
				<div class="row">
					<div class="col-md-5">
						{% for teacher in course.teacher.all %}
						  {{ teacher }}<br />
						{% endfor %}
					</div>
					<div class="col-md-5">
						{% for slot in course.schedule.slots %}
							{{ slot }}<br />
						{% endfor %}
					</div>
					<div class="col-md-2">

					</div>
				</div>
			</a>
		{% endfor %}
	</div>
</div>

{% endblock %}
