{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="col-sm-8 mr-auto ml-auto align-middle">
  <div class="card border-secondary mb-3">
    <h3 class="card-header">{% trans 'Password Reset' %}</h3>
    <div class="card-body">
      <p class="mb-3">{% trans "Forgot your password? Don't sweat! Just enter your email address below and we will send you instructions for setting a new password." %}</p>
      <form method="POST" action="{% url 'password_reset' %}">
        {% csrf_token %}

        <div class="form-group {% if form.email.errors %}has-danger{% endif %}">
          <label class="col-form-label" for="{{ form.email.id_for_label }}">{% trans 'Mail address' %}</label>
          <input type="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" placeholder="{% trans 'john.galt@tu-dresden.de' %}" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" required="" {% if form.email.value %}value="{{ form.email.value }}"{% endif %}>
          {% if form.email.errors %}
            <div class="invalid-feedback">
              {% for err in form.email.errors %}
                {{ err }}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}">
      </form>
    </div>
  </div>
</div>

{% endblock %}
