{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% if next %}
    {% if user.is_authenticated %}
      <p>{% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}</p>
    {% else %}
      <p>{% trans "Please login to see this page." %}</p>
    {% endif %}
{% endif %}

<form action="{% url 'login' %}" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" class="button" value="{% trans "Submit" %}"/>
  {% url 'logout' as logout_url %}
  {% if not next == logout_url %}
    <input type="hidden" name="next" value="{% url 'user-profile' %}"/>
  {% endif %}
</form>

<p><a href="{% url 'password_reset' %}" style="color: #9ACC00;">{% trans "Lost password?" %}</a></p>
{% endblock %}
