{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div class='auth_form'>
    {% if error %}
      <p class='errors'>
        {{error}}
      </p>
    {% endif %}
    <p>
      <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <table>
          {{ user_form.as_table }}
          {{ userinformation_form.as_table }}
          {{ studentinformation_form.as_table }}
        </table>
          <input class="button" type="submit" value="{% trans "Submit" %}" />
      </form>
    </p>
  </div>
{% endblock %}
