{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<p>
    {% trans "Here you may change your user information." %}
</p>
<form action="{% url 'modify-user' %}" method="post">
  {% csrf_token %}
  <table class="table table-condensed table-bordered">
    {{ form.as_table }}
  </table>
    <input class="btn btn-default" type="submit" value="{% trans "Change" %}" />
</form>
<p>
  {% trans "Perhaps you'd like to" %} <a href="{% url 'password_change' %}">{% trans "change your password?" %}</a>
</p>
{% endblock %}
