{% extends 'base.html' %}
{% block content %}
  <h1>{{ user.first_name }} {{ user.last_name }}  "{{ user.username }}"</h1>
  <h2>Your data</h2>
  <table>
    <tr>
      <th>Username</th>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <th>First name</th>
      <td>{{ user.first_name }}</td>
    </tr>
    <tr>
      <th>Last name</th>
      <td>{{ user.last_name }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th>s number</th>
      <td>{{ user.student.s_number }}</td>
    </tr>
    <tr>
      <th>Faculty</th>
      <td>{{ user.student.faculty.name }}</td>
    </tr>
  </table>
  <ul>
    <li><a href="{% url 'modify-user' %}">Edit</a></li>
    <li><a href="{% url 'user-profile' user.id %}">Visit your public profile.</a></li>
  </ul>
  <hr>
  {% with student=user.student %}
    {% if student.teacher.count > 0 %}
      <h2>Courses you teach</h2>
      {% include 'course_list.html' with course_list=student.teacher.all target=request.path %}
    {% endif %}
    {% if student.course_set.count > 0 %}
      <h2>Courses you attend</h2>
      {% include 'course_list.html' with course_list=student.course_set.all target=request.path %}
    {% endif %}
    <hr>
    {{ student.render_description|safe }}
  {% endwith %}
{% endblock %}
