{% extends 'base.html' %}

{% block content %}
  {% with student=profiled_user.student %}
    {% if student.public_profile %}
      <h1>{{ profiled_user.first_name }} {{ profiled_user.last_name }}</h1>
      {{ student.render_description|safe }}
      {% if student.teacher.count > 0 %}
        <h2>Courses this user teaches</h2>
        {% include 'course_list.html' with course_list=student.teacher.all target=request.path hide_actions=False %}
      {% endif %}
    {% else %}
      <p>This user does not wish to publicise any additional information. Please respect this decision.</p>
    {% endif %}
  {% endwith %}
{% endblock %}