{% extends "base.html" %}

{% block content %}
  {% if tokens %}
    You generated the following tokens:
    <table>
      {% for token in tokens %}
        <tr><td>{{ token.token }}</td></tr>
      {% endfor %}
    </table>
  {% endif %}
  {% if generate %}
    You can generate tokens here.
    <form action="{% url 'poll-generate-token' poll.url %}">
      {% csrf_token %}
      <label for="amount-input">Amount of tokens to generate</label>
      <input type="number" name="amount" id="amount-input" />
      <input type="submit" value="Generate" />
    </form>
  {% endif %}
{% endblock %}
