{% extends "base.html" %}

{% block content %}

  <table>
    {% for qlink in questions %}
      {% with question=qlink.question %}
        <tr>
          <td>
            {{ question.question }}
          </td>
        <td>
          {% for choice in question.choices.all %}
            {{ choice.value }}
          {% endfor %}
        </td>
      </tr>
      {% endwith %}
    {% endfor %}

  </table>

  <form method="post" action="{% url 'poll-edit-questions' poll.url %}">
  {% csrf_token %}
    <table>
      {{ form.as_table }}
      {{ choice_forms.as_table }}
    </table>
    <input type="submit" value="Add" class="button" />
  </form>

{% endblock %}