{% extends 'new_ui_foo/base.html' %}
{% load i18n %}

{% block content %}
    <h1 class="mb-3">{{profiled_user.first_name}} {{profiled_user.last_name}}</h1>

    {% with student=profiled_user.userinformation %}
        {% if student.public_profile %}
            {{ student.render_description|safe }}

            {% if student.teacher.count > 0 %}
                <hr class="mt-3 mb-3">

                <h3 class="mb-3">{% trans 'Courses this user teaches' %}</h3>

                <div class="list-group">
                    {% for course in student.teacher.all %}
                        <a href="{% url 'course' course.id %}" class="list-group-item list-group-item-action flex-column align-items-start {% if not course.active %}text-muted{% endif %}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ course.subject }} {% trans "course" %}</h5>
                            <small>
                                {% if course.schedule.slots %}
                                    {{ course.schedule.slots|join:"<br />" }}
                                {% else %}
                                    <span class="text-muted">{% trans "No dates set yet" %}</span>
                                {% endif %}
                            </small>
                        </div>
                        <div class="mb-1">
                            {% with course.get_locations as locs %}
                                {% if locs %}
                                    {{ locs|join:"<br />" }}
                                {% else %}
                                    <span class="text-muted">{% trans "No locations set." %}</span>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <small>
                            {% if course.active %}
                                {{ course.enrolled_students }} {% trans "participants" %} {% if course.students_on_queue %} ({{ course.students_on_queue }} {% trans "in queue" %}) {% endif %}
                            {% else %}
                                {% trans 'The course is currently suspended.' %}
                            {% endif %}
                        </small>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <p>
                {% if is_own %}
                    {% url 'modify-user' as settingslink %}
                    {% blocktrans %}
                        In accordance with your privacy settings information about the courses youu teach as well as your description will be withheld from the public. You can change these settings <a href="{{ settingslink }}">here</a>.
                    {% endblocktrans %}
                {% else %}
                    {% trans "This user does not wish to publicise any information about themselves." %}
                {% endif %}
            </p>
        {% endif %}

        {% if user.is_authenticated and not is_own %}
            <div class="mt-3">
                <a class="btn btn-primary" href="{% url 'contact-form' profiled_user.id %}">Contact user</a>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}
