{% extends 'new_ui_foo/base.html' %}
{% load i18n %}
{% block content %}

<h1 class="mb-3">{% trans 'Course List' %} - {{ subject.name }}</h1>

<p>{{ subject.render_description|safe }}</p>

{% if perms.subject.change_subject or perms.subject.delete_subject %}
<div class="row ml-1 mr-1 mb-3">
  {% if perms.subject.change_subject %}
    <a href="{% url 'edit-subject' subject.name %}" type="button" class="btn btn-outline-success mr-1">{% trans 'Edit' %}</a>
  {% endif %}
  {% if perms.subject.delete_subject %}
    <form method="post" action="{% url 'delete-subject' subject.name %}">
      {% csrf_token %}
      <input type="submit" class="btn btn-outline-warning" value="{% trans 'Delete' %}">
    </form>
  {% endif %}
</div>
{% endif %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">{% trans 'Timeslot' %}</th>
      <th scope="col">{% trans 'Location' %}</th>
      <th scope="col">{% trans 'Status' %}</th>
      <th scope="col">{% trans 'Teachers' %}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% with user.userinformation.course_set.all as courses %}
      {% for course in course_list %}
      <tr>
        <td>
          {% if course.schedule.slots %}
            {{ course.schedule.slots|join:"<br>" }}
          {% else %}
            <p class="text-muted">{% trans 'No dates set yet.' %}</p>
          {% endif %}
        </td>
        <td>
          {% with course.get_distinct_locations as locs %}
            {% if locs %}
              {{ locs|join:"<br>" }}
            {% else %}
              <p class="text-muted">{% trans 'No location set.' %}</p>
            {% endif %}
          {% endwith %}
        </td>
        <td>
          {% if course.active %}
            {% if course.saturated %}
              <span class="badge badge-danger">{% trans 'full' %}</span>
            {% else %}
              <span class="badge badge-success badge-pill">{{ course.enrolled_students }}/{{ course.max_participants }}</span>
            {% endif %}
          {% else %}
            <span class="badge badge-secondary">{% trans 'unavailable' %}</span>
          {% endif %}
        </td>
        <td>{{ course.teacher.all|join:", " }}</td>
        <td><a href="{% url 'course' course.id %}">{% trans 'Info' %}</a></td>
      </tr>
      {% endfor %}
    {% endwith %}
  </tbody>
</table>
{% endblock %}
