{% load i18n %}
<html>
<head>
  <meta charset="utf-8">
  <title>Attendee list</title>
  <style>
    td, th {
      border: 1px solid black;
      min-width: 100px;
      min-height: 30px;
      padding: 10px;
    }

    th {
      background-color: #cccccc;
    }
  </style>
</head>
<body>
<section class="attendee-list">
  <table>
    <tr>
      <th>{% trans "Dates" %}</th>
      {% if slots %}
      {% for slot in slots %}
        <th>&nbsp;</th>
      {% endfor %}
      {% endif %}
    </tr>
    {% for attendee in attendees %}
      <tr>
        <td>{{ attendee.user.last_name }}, {{ attendee.user.first_name }}</td>
        {% if slots %}
        {% for slot in slots %}
          <td>&nbsp;</td>
        {% endfor %}
        {% endif %}
      </tr>
    {% endfor %}
  </table>

</section>
</body>
</html>
