{% extends 'new_ui_foo/base.html' %}
{% load i18n %}
{% block content %}

<h1 class="mb-3">{% trans 'Course Teachers' %}</h1>

<table class="table table-hover mb-4">
  <thead>
    <tr>
      <th scope="col">{% trans 'Teacher' %}</th>
      <th scope="col">{% trans 'Username' %}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for teacher in teachers.all %}
      <tr>
        <td class="align-middle">
          {{ teacher.user.first_name }} {{ teacher.user.last_name }}
        </td>
        <td class="align-middle">
          {{ teacher.user.username }}
        </td>
        <td>
          <form action="{% url 'remove-teacher' course_id teacher.id %}{% if target %}?target={{ target }}{% endif %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-link" value="{% trans 'Remove' %}">
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="card">
  <h3 class="card-header">{% trans 'Add Teacher' %}</h3>
  <div class="card-body">
    <form action="{% url 'add-teacher' course_id %}" method="POST">
      {% csrf_token %}
      <div class="form-group {% if error or form.errors %}is-invalid{% endif %}">
        <p>{% trans 'Teachers gain full administrative rights for the courses they teach. They may alter course description, time table, rooms and name other users as teacher. Additionally, they can see and edit the list of participants.' %}</p>

        <input type="text" class="form-control {% if error or form.errors %}is-invalid{% endif %}" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}" placeholder="{% trans 'Username' %}">
        {% if error or form.errors %}
          <div class="invalid-feedback">
            {% for err in error %}
              {{ err }}
            {% endfor %}
            {% for err in form.username.errors %}
              {{ err }}
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <input type="submit" class="btn btn-primary" value="{% trans 'Add' %}">
      <a class="btn btn-outline-primary" href="{% url 'course' course_id %}"> &laquo; {% trans 'back' %}</a>
    </form>
  </div>
</div>
{% endblock %}
