{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class='privacy_info_text'>
        <h1>{% trans "Consent to Privacy Policy" %}</h1>
        <p>{% trans "Hey there! Since the last time you've logged on, we changed our privacy policy. To continue using our services, please read the policy below carefully and then either signal us your consent by checking the box below or delete your account and all associated data by pressing the big red button. If you have any questions regarding how we use or store your data, you can always drop us a mail - either in german or in english - to the address below!" %} :)</p>
    </div>

    <hr />

    {% include 'privacy-policy.html' %}

    <hr />

    <div class='agreement_form'>
        <form action="{% url 'privacy-policy-updated' %}" method="post">
            {% csrf_token %}
            {{ agreement_form.as_p }}
            <input class="button" type="submit" value="{% trans "Submit" %}" />
        </form>
    </div>

    <div class='delete_account'>
        <p>{% trans "If you feel that you can not consent to the terms of this policy, there is no other option left for you but to delete your account. Clicking the red button below will delete your account <b>immediately and permanently</b>. All your personal information will be removed from our database, so think twice before taking this step." %}</p>

        <form method="post" action="{% url 'delete-account' %}">
            {% csrf_token %}
            <input type="hidden" name="delete-confirm">
            <button class="button alert" role="link" type="submit">{% trans 'Delete my account' %}</button>
        </form>
    </div>
{% endblock %}
