{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <h1>{{ user.first_name }} {{ user.last_name }}  "{{ user.username }}"</h1>
  <h2>{% trans "Your data" %}</h2>
  <table>
    <tr>
      <th>{% trans "Username" %}</th>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <th>{% trans "First name" %}</th>
      <td>{{ user.first_name }}</td>
    </tr>
    <tr>
      <th>{% trans "Last name" %}</th>
      <td>{{ user.last_name }}</td>
    </tr>
    <tr>
      <td>{% trans "Email" %}</td>
      <td>{{ user.email }}</td>
    </tr>
    {% if user.userinformation.is_student %}
      {% with user.userinformation.studentinformation as student %}
        <tr>
          <th>{% trans "s number" %}</th>
          <td>{{ student.s_number }}</td>
        </tr>
        <tr>
          <th>{% trans "Faculty" %}</th>
          <td>{{ student.faculty.name }}</td>
        </tr>
      {% endwith %}
    {% endif %}
  </table>
  <ul>
    <li><a href="{% url 'modify-user' %}">{% trans "Edit" %}</a></li>
    <li><a href="{% url 'user-profile' user.id %}">{% trans "Visit your public profile." %}</a></li>
    {% if not user.userinformation.is_student %}
      <li><a href="{% url 'student-verification' %}">{% trans "Verify as a student" %}</a></li>
    {% endif %}
  </ul>
  <hr>
  {% with student=user.userinformation %}
    {% if student.teacher.count > 0 %}
      <h2>{% trans "Courses you teach" %}</h2>
      {% include 'course_list.html' with course_list=student.teacher.all target=request.path %}
    {% endif %}
    {% if student.course_set.count > 0 %}
      <h2>{% trans "Courses you attend" %}</h2>
      {% include 'course_list.html' with course_list=student.course_set.all target=request.path %}
    {% endif %}
    <hr>
    {{ student.render_description|safe }}
  {% endwith %}
{% endblock %}
