{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <h1>{{ user.first_name }} {{ user.last_name }}  <i>({{ user.username }})</i></h1>
  <h2>{% trans "Your data" %}</h2>
  <table>
    <tr>
      <th>{% trans "Username" %}</th>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <th>{% trans "First name" %}</th>
      <td>{{ user.first_name }}</td>
    </tr>
    <tr>
      <th>{% trans "Last name" %}</th>
      <td>{{ user.last_name }}</td>
    </tr>
    <tr>
      <th>📧 {% trans "Email" %}</th>
      <td>{{ user.email }}</td>
    </tr>
<!--
    {% if user.userinformation.is_verified_student %}
      {% with user.userinformation.studentinformation as student %}
        <tr>
          <th>#️⃣ {% trans "s number" %}</th>
          <td>{{ student.s_number }}</td>
        </tr>
        <tr>
          <th>🏢 {% trans "Faculty" %}</th>
          <td>{{ student.faculty.name }}</td>
        </tr>
      {% endwith %}
    {% else %}
      <tr>
	      <th>{% trans "Student status" %}</th>
        <td>
	        {% if user.userinformation.is_student %}
		        {% trans "Pending..." %} <a href="{% url 'verify' 'student' %}">{% trans "Resend verification Mail" %}</a>
	        {% else %}
		        <a href="{% url 'verify' 'student' %}">{% trans "Verify Now" %}</a>
	        {% endif %}
        </td>
      </tr>
    {% endif %}
-->
  </table>
  <table>
    <tr>
      <td><a href="{% url 'modify-user' %}">🖊 {% trans "Edit" %}</a></td>
      <td><a href="{% url 'user-profile' user.id %}">📢 {% trans "Visit your public profile." %}</a></td>
    </tr>
  </table>
  <hr>
  {% with student=user.userinformation %}
    {% if student.teacher.count > 0 %}
      <h2>{% trans "Courses you teach" %}</h2>
      {% include 'course_list.html' with course_list=student.teacher.all target=request.path hide_actions=False %}
    {% endif %}
    {% if student.course_set.count > 0 %}
      <h2>{% trans "Courses you attend" %}</h2>
      {% include 'course_list.html' with course_list=attend target=request.path %}
    {% endif %}
    <h2>{% trans "Your description" %}</h2>
    <div class="description">
      {{ student.render_description|safe }}
    </div>
  {% endwith %}
{% endblock %}
