{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  {% with student=profiled_user.userinformation %}
    {% if student.public_profile %}
      <h1>{{ profiled_user.first_name }} {{ profiled_user.last_name }}</h1>
      <div>
        {{ student.render_description|safe }}
      </div>
      {% if student.teacher.count > 0 %}
        <h2>{% trans "Courses this user teaches" %}</h2>
        {% include 'course_list.html' with course_list=student.teacher.all target=request.path hide_actions=False %}
      {% endif %}
    {% else %}
      <p>{% if is_own %}You do{% else %}This user does{% endif %} not wish to publicise any additional information.{% if not is_own %} Please respect this decision.{% endif %}</p>
    {% endif %}
    {% if is_own %}
      <a href="{% url 'user-profile' %}">🔒 {% trans "Visit your private profile" %}</a>
    {% elif user.is_authenticated %}
      <a href="{% url 'contact-form' profiled_user.id %}">✉️ {% trans "Contact this user." %}</a>
    {% endif %}
  {% endwith %}
{% endblock %}
