body {
    zoom: 1;
    font-family: 'Exo 2', sans-serif;
    color: #424242;
}
a {
    color: #1b70ff;
}
a:hover {
    color: #424242;
}
form {
    margin: 0;
}
#top_logo {
    padding-right: 0;
}
#top_logo img{
    width: 100%;
    margin-left: 20%;
}
.headline {
    font-size: 2em;
}
a.headline {
    font-size: 2.5em;
    padding-left: 0;
    align-self: center;
    flex-grow: 1;
    color: #424242;
}
.heading a {
    color: #424242;
}
header {
    display: flex;
    padding: 0 1em;
    flex-wrap: wrap;
    justify-content: center;
}
.userpanel {
    padding: .5em;
    position: relative;
}
.userpanel > a {
    display: block;
    padding: .5em;
    padding-right: 1em;
    border-top-right-radius: .7em;
    transition-property: color;
    transition-duration: .3s;
}
.userpanel:hover > a {
    text-decoration: none;
    color: #fafafa;
}
.userpanel > div{
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: #fafafa;
    left: 0;
    transition-property: max-height, background;
    transition-duration: .3s;
    min-width: 100%;
    border: solid 1px #dddddd;
    border-top: none;
    border-bottom: none;
}
.userpanel:hover {
    color:#fafafa;
    background: #79BE0E;
}
.userpanel:hover > div{
    max-height: 10em;
}
.heading.green {
    padding: .5em 1.5em;
    background: #B1E11C;
    border-radius: .7em .7em 0 0;
}
.heading.green.nav {
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.heading.green.nav > *:first-child {
    padding-right: 1em;
    border-top-right-radius: .7em;
}
.heading.green.nav > *:first-child.userpanel {
    padding: 0;
}

.heading.green.nav > a {
    padding: .5em 1em;
    transition-property: background, color;
    transition-duration: .2s;
}
.heading.green.nav > a:hover {
    color:#fafafa;
    background: #79BE0E;
    text-decoration: none;
}
.shadow {
    background: #fafafa;
    border-radius: 1em 1em 0 0;
}
.main {
    margin: 1em 0;
}
.auth_form{
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.errors{
    color: #FF0000;
    font-weight: bolder;
}
.description {
    margin: 0 1em;
    padding: .25em 1em .5em 1em;
    background: #60CA60;
    border-radius: 0 1em;
    border: solid .25em #3c763d;
}
div.courses {
    margin: 2em 0;
    width: 100%;
}
div.courses a{
    color: #626262;
}
div.courses .thead {
    font-weight: bolder;
    font-size: 1em;
}
div.courses .thead .row {
    background-color: #eeeeee;
}
div.courses .row {
    margin: 0;
    padding: .5em 0;
    border-bottom: solid 1px #dddddd;
    transition-property: border-color;
    transition-duration: .2s;
}
div.courses .thead .row:first-child {
    border-top: solid 1px #dddddd;
}
div.courses a:nth-child(even) .row {
    background-color: #eeeeee;
}
div.courses div.tbody .row:hover {
    border-color: #888888;
}
ul.subjectlist {
    padding: 0;
    list-style: none;
    margin: 0;
}
ul.subjectlist li {
    pointer-events: none;
    padding: .1em 0;
    background: #fafafa;
    border-bottom: solid 1px #dddddd;
}
ul.subjectlist li:first-child {
    border-top: solid 1px #dddddd;
}
ul.subjectlist li a{
    color: #626262;
    pointer-events: auto;
    display: block;
    width: 100%;
    padding-left: 1em
}
ul.subjectlist li a:hover {
    text-decoration: none;
}
ul.subjectlist li:hover{
    background: #eeeeee;
}
