{% extends 'course/info.html' %}
{% load i18n %}
{% block enroll_response %}
<div>

  <p>
    {% if action == 'register' %}
	    {% if error %}
	      {% blocktrans with s=subject %}
			    Your subscription to the course {{ s }} was unsuccessful.
			  {% endblocktrans %}
		  {% else %}
			  {% blocktrans with s=subject %}
			    Your subscription to the course {{ s }} was successful.
			  {% endblocktrans %}
		  {% endif %}
    {% elif action == 'unregister' %}
	    {% if error %}
	      {% blocktrans with s=subject %}
			    Your unsubscription to the course {{ s }} was unsuccessful.
			  {% endblocktrans %}
		  {% else %}
			  {% blocktrans with s=subject %}
			    Your unsubscription to the course {{ s }} was successful.
			  {% endblocktrans %}
		  {% endif %}
    {% endif %}
  </p>
  {% if error %}
  <p>
    {{ error }}
  </p>
  {% endif %}
</div>
{% endblock %}
