{% extends "base.html" %}
{% load i18n %}

{% block content %}
  {% if tokens %}
    <a href="{% url 'poll-view' poll.url %}">👈 {% trans "Back to poll" %}</a>
    <p>You generated the following tokens:</p>
    <table>
      {% for token in tokens %}
        <tr><td>{{ token.token }}</td></tr>
      {% endfor %}
    </table>
  {% endif %}
  {% if generate %}
    You can generate tokens here.
    <form action="{% url 'poll-generate-tokens' poll.url %}">
      <label for="amount-input">Amount of tokens to generate</label>
      <input type="number" name="amount" id="amount-input" />
      <input class="button" type="submit" value="Generate"/>
    </form>
  {% endif %}
{% endblock %}
