{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% block enroll_response %}
{% endblock %}
<h1>{{ course.subject.name }}</h1>
<table class="table">
  <tr><td>🎓 {% trans "Teachers" %}</td>
    <td>
      {% for teacher in course.teacher.all %}<a href="{% url 'user-profile' teacher.user.id %}">{{ teacher }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
    </td>
    {% if is_teacher %}
      <td>
        <a class="button small" href="{% url 'add-teacher' course_id %}">{% trans "Add/Remove teachers" %}</a>
      </td>
    {% endif %}

  </tr>

  <tr>
    <td>🎒 {% trans "Participants" %}</td>
    <td>
      {% if participants_count %}<a href="{% url 'course-participants' course.id %}">{% endif %}
        {{ participants_count }} {% trans "of" %} {{ max_participants }}
      {% if participants_count %}</a>{% endif %}
    </td>
    {% if is_teacher %}
      <td><a class="button small" href="{% url 'attendee-list' course_id %}">🖨 {% trans 'Generate attendee list' %}</a></td>
    {% endif %}
  </tr>

  <tr>
    <td>📅 {% trans "Schedule" %}</td>
    <td>
      {% with course.schedule.slots as slots %}
        {% if slots %}
          {% if slots|length == 1 %}
            {{ slots.0 }}
          {% else %}
            <ul>
              {% for slot in slots %}
                <li>{{ slot }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% else %}
          {% trans "No schedule has been set." %}
        {% endif %}
      {% endwith %}
    </td>
    {% if is_teacher %}
      <td><a class="button small" href="{% url 'course-edit-slot' course_id %}">{% trans "Edit schedule" %}</a></td>
    {% endif %}
  </tr>

  <tr>
    <td>{% trans "Status" %}</td>
    <td>
      {% trans "This course is currently" %} {% if course.active %}{% trans "active" %}{% else %}{% trans "suspended" %}{% endif %}.
    </td>
    {% if is_teacher %}
      <td>
        <form method="post" action="{% if course_is_active %}{% url 'deactivate-course' course_id %}{% else %}{% url 'activate-course' course_id %}{% endif %}">
            {% csrf_token %}
            <input type="submit" class="button small" value="{% if course_is_active %}{% trans "Suspend course (unenrolls all participants)" %}{% else %}{% trans "Set course active" %}{% endif %}" />
        </form>
      </td>
    {% endif %}
  </tr>

{% if user.is_authenticated %}
  {% if is_teacher %}
    <tr>
      <td>{% trans "Administrative actions" %}</td>
      <td colspan="2">
        <div class="button-group">
          <a class="button small" href="{% url 'edit-course' course_id %}">🖊 {% trans "Edit course" %}</a>
          <a class="button small" href="{% url 'notify-course' course_id %}">✉️ {% trans "Notify course" %}</a>
        </div>
      </td>
    </tr>
  {% else %}
    <tr>
      <td>{% trans "Actions" %}</td>
      <td>
        {% if is_subbed %}
          {% include "course/forms/unregister.html" %}
        {% elif course.joinable %}
          {% if course.student_only and is_verified_student %}
            {% include "course/forms/register.html" %}
          {% else %}
            <b>🔒 {% trans "This course is for verified students only." %}</b>
          {% endif %}
        {% else %}
          <form action="#"><input disabled class="button" type="submit" value="{% trans "This course is full" %}" /></form>
        {% endif %}
      </td>
    </tr>
  {% endif %}
{% else %}
    <tr>
      <td>{% trans "Actions" %}</td>
      <td>
        <a href="{% url 'login' %}">{% trans "Log in" %}</a> {% trans "or" %} <a href="{% url 'register' %}">{% trans "register" %}</a> {% trans "to join this course" %}.
      </td>
    </tr>
{% endif %}
</table>
  <div class="course-description">
	  {% if course.has_description %}
	    {{ course.get_description_as_html|safe }}
    {% else %}
      {% trans "No description provided for this course." %}
    {% endif %}
  </div>
{% endblock %}
