{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% if error %}
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ error }}
</div>
{% endif %}

<h1 class="mb-4">{% trans 'Course Info' %} - {{ course.subject.name }}</h1>

<div class="row m-3">
  <div class="card mb-3 col-md-4 p-0">
    <h5 class="card-header">{% trans 'General Information' %}</h5>
    <div class="card-body">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="card-title">{% trans 'Teachers' %}</h5>
        {% if is_teacher %}
          <small><a href="{% url 'add-teacher' course_id %}">{% trans 'edit' %}</a></small>
        {% endif %}
      </div>
      <p class="card-text">
        {% for teacher in course.teacher.all %}
          <a href="{% url 'user-profile' teacher.user_id %}">{{ teacher }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </p>
    </div>
    <hr class="m-0">
    <div class="card-body">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="card-title">{% trans 'Timeslot' %}</h5>
        {% if is_teacher %}
          <small><a href="{% url 'course-edit-slot' course_id %}">{% trans 'edit' %}</a></small>
        {% endif %}
      </div>
      {% with course.schedule.slots as slots %}
        {% if slots %}
          <p class="card-text">
            {{ slots|join:"<br>" }}
          </p>
        {% else %}
          <p class="card-text text-muted">{% trans 'No dates set yet.' %}</p>
        {% endif %}
      {% endwith %}
    </div>
    <hr class="m-0">
    <div class="card-body">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="card-title">{% trans 'Location' %}</h5>
        {% if is_teacher %}
          <small><a href="{% url 'course-edit-slot' course_id %}">{% trans 'edit' %}</a></small>
        {% endif %}
      </div>
      {% with course.get_distinct_locations as locs %}
        {% if locs %}
          <p class="card-text">{{ locs|join:"<br>" }}</p>
        {% else %}
          <p class="card-text text-muted">{% trans 'No location set.' %}</p>
        {% endif %}
      {% endwith %}
    </div>
    <hr class="m-0">
    <div class="card-body">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="card-title">{% trans 'Participants' %}</h5>
        {% if is_teacher %}
          <small><a href="{% url 'course-participants' course.id %}">{% trans 'list' %}</a></small>
        {% endif %}
      </div>
      <p class="card-text">
        {{ course.enrolled_students }}/{{ course.max_participants }} {% if course.students_on_queue %}({{ course.students_on_queue }} {% trans 'waiting' %}){% endif %}
      </p>
    </div>
    <hr class="m-0">
    <div class="card-body">
      <h5 class="card-title">{% trans 'Status' %}</h5>
      {% if course.active %}
          {% if course.saturated %}
            <span class="badge badge-danger">{% trans 'full' %}</span>
          {% else %}
            <span class="badge badge-success">{% trans 'available' %}</span>
          {% endif %}
        {% else %}
          <span class="badge badge-secondary">{% trans 'unavailable' %}</span>
        {% endif %}
    </div>
  </div>
  
  <div class="col-md-8 p-md-3 pl-md-5">
    {% if is_subbed %}
      {% if position_in_queue %}
        <div class="alert alert-warning">
          {% trans 'You are on the waiting list' %} ({% trans 'Position' %} {{ position_in_queue }}).
        </div>      
      {% else %}
        <div class="alert alert-success">
          {% trans 'You are enrolled.' %}
        </div>
      {% endif %}
    {% endif %}
    
    <div class="mb-3">
      <h3>{% trans 'Course Description' %}</h3>

      {% if course.has_description %}
        {{ course.get_description_as_html|safe }}
      {% else %}
        <p><i>{% trans 'This course has no description.' %}</i></p> 
      {% endif %}
    </div>
    {% if user.is_authenticated %}
      <div class="d-flex">
      {% if is_teacher %}
        <a href="{% url 'edit-course' course_id %}" type="button" class="btn btn-warning">{% trans 'Edit' %}</a>
        <a href="{% url 'notify-course' course_id %}" type="button" class="btn btn-warning">{% trans 'Notify participants' %}</a>
      {% else %}
        {% if is_subbed %}
          <form action="{% url 'unregister-course' course.id %}{% if target %}?target={{ target }}{% endif %}" method="post">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="{% trans 'Unenroll' %}">
          </form>
        {% else %}
          <form action="{% url 'register-course' course.id %}{% if target %}?target={{ target }}{% endif %}" method="post">
            {% csrf_token %}
            {% if course.joinable %}
              <input class="btn btn-primary" type="submit" value="{% trans 'Enroll' %}">
            {% else %}
              <input class="btn btn-secondary" type="submit" value="{% trans 'Waiting List' %}">
            {% endif %}
          </form>
        {% endif %}
        <a href="{% url 'contact-teachers' course_id %}" class="btn btn-primary">{% trans 'Contact Teachers' %}</a>
      {% endif %}
      </div>
    {% endif %}

    <!-- TODO: show attendee list (generate list), notify course as tabs environment? -->
  </div>
</div>
{% endblock %}
