{% extends "base.html" %}
{% load i18n %}
{% block content %}
<table>
  {% for student in course.participants.all %}
    <tr>
      <td>
        {% if student.public_profile %}
          <a href="{% url 'user-profile' student.user.id %}">{{ student }}</a>
        {% else %}
          {{ student }}
        {% endif %}
      </td>
      <td>
        <form action="{% url 'unregister-course' course.id student.id %}" method="post">
          {% csrf_token %}
          <input class="button small" type="submit" value="🚪 {% trans "kick" %}">
        </form>
      </td>
    </tr>
  {% empty %}
    <tr><td>{% trans "Oh no, there don't seem to be any students enrolled in this course yet :(, perhaps you should advertise more." %}</td></tr>
  {% endfor %}
</table>
{% endblock %}
