{% extends 'base-shell.html' %}

{% load subject_list %}
{% load i18n %}

{% block header_nav %}
  <ul>
    {% if user.is_authenticated %}
      <li class="has-dropdown">
        <a href="{% url 'user-profile' %}">
          {{ user.student }}
        </a>
        <ul class="dropdown">
          {% if perms.course_management.add_course %}
            <li><a href="{% url 'create-course' %}">{% trans "Create course" %}</a></li>
          {% endif %}
          {% if perms.course_management.add_subject %}
            <li><a href="{% url 'create-subject' %}">{% trans "Create subject" %}</a></li>
          {% endif %}
          <li><a href="{% url 'modify-user' %}">{% trans "Edit your data" %}</a>
          <li><a href="{% url 'password_change' %}">{% trans "Change pass" %}</a></li>
          <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
        </ul>
      </li>

    {% else %}
      <li><a href="{% url 'register' %}">{% trans "Sign up" %}</a></li>
      <li><a href="{% url 'login' %}?next={{ request.path }}">{% trans "Sign in" %}</a></li>
    {% endif %}
  </ul>

  {% if backurl %}
    <a href="{{ backurl }}">
      <span class="glyphicon glyphicon-chevron-left" title="back"></span>
    </a>
  {% endif %}

	<form action="{% url 'set_language' %}" method="post" id="language-form" name="language-form">
    {% csrf_token %}
    <input type="hidden" name="language" id="language" value="de" />
		<input type="submit" value="de" />
	</form>
	<form action="{% url 'set_language' %}" method="post" id="language-form" name="language-form">
    {% csrf_token %}
    <input type="hidden" name="language" id="language" value="en" />
		<input type="submit" value="en" />
	</form>

{% endblock %}

{% block side_nav %}
  <li class="heading">{% trans "Subjects" %}</li>
  {% show_active_subjects %}

  {% comment %}
    TODO Show this only if appropriate permissions exist
  {% endcomment %}
  <li class="divider"></li>
  <li><a href="{% url 'subject-overview' %}">Complete overview</a></li>
{% endblock %}
