{% extends 'base-shell.html' %}

{% load subject_list %}

{% block content_heading %}
  {% if user.is_authenticated %}
    <div class="userpanel">
      <a href="{% url 'user-profile' %}">
        <strong>{{ user.student }}</strong>
      </a>
      <div>
        <ul class="subjectlist">
          {% if perms.course_management.add_course %}
            <li><a href="{% url 'create-course' %}">Create course</a></li>
          {% endif %}
          {% if perms.course_management.add_subject %}
            <li><a href="{% url 'create-subject' %}">Create subject</a></li>
          {% endif %}
          <li><a href="{% url 'modify-user' %}">Edit your data</a>
          <li><a href="{% url 'password_change' %}">Change pass</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div>
    </div>
  {% else %}
    <a href="{% url 'register' %}">Sign up</a>
    <a href="{% url 'login' %}">Sign in</a>
  {% endif %}
  {% if backurl %}
    <a href="{{ backurl }}">
      <span class="glyphicon glyphicon-chevron-left" title="back"></span>
    </a>
  {% endif %}
{% endblock %}

{% block nav %}
  <div class="heading green">Subjects</div>
    {% show_active_subjects %}
    <p>
      {% comment %}
        TODO Show this only if appropriate permissions exist
      {% endcomment %}
      <a href="{% url 'subject-overview' %}">Complete overview</a>
    </p>
{% endblock %}
