{% load staticfiles %}
{% load i18n %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}">
  <script type="text/javascript" src="{% static "vendor/modernizr/modernizr.js" %}"></script>
  <title>{% if title %}{{ title }} | {% endif %}{% trans "Course Manager" %}</title>
</head>
<body>
  {% block header %}
    <header>
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="{% url 'index' %}" class="column small-7 headline">{% trans "Course Manager" %}</a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <div class="right">
            {% block header_nav %}
            {% endblock %}
          </div>
        </section>
      </nav>
    </header>
  {% endblock header %}
  <div>
    <div class="row">
      <nav class="column small-2">
        <ul class="side-nav">
          {% block side_nav %}
            &nbsp;
          {% endblock side_nav %}
        </ul>
      </nav>
      <section class="column small-10">
        <div class="content">
          <div class="heading green nav">
            {% block content_heading %}
              &nbsp;
            {% endblock %}
          </div>
          <div class="main">
            {% block content %}
            {% endblock content %}
          </div>
        </div>
      </section>
    </div>
  </div>
  <footer>
    <a href="https://ifsr.de" class="column small-2" id="top_logo">
      <img src="{% static "img/LogoStandard.svg" %}">
    </a>
  </footer>
  <script src="{% static "vendor/jquery/dist/jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/foundation/js/foundation.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/fastclick/lib/fastclick.js" %}"></script>
  <script type="text/javascript">
    $(document).foundation();
  </script>
</body>
</html>
