{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h2>{{ poll.name }}</h2>
  <a href="{% url 'poll-overview' %}">👈 {% trans "Back to overview" %}</a>
  <h3>{% trans "Selected questions" %}</h3>
  <div class="row">
    <div class="column small-12">
      <table>
        {% for qlink in questions %}
          {% with question=qlink.question %}
            <tr>
              <td>
                {{ question.question }}
              </td>
              <td>
                {% for choice in question.choices.all %}
                  {{ choice.value }}
                {% endfor %}
              </td>
              <td>
                <form method="post" action="{% url 'poll-bump-question-up' poll.url question.id qlink.id %}">
                  {% csrf_token %}
                  <input type="submit" class="button" value="⬆" />
                </form>
              </td>
              <td>
                <form method="post" action="{% url 'poll-bump-question-down' poll.url question.id qlink.id %}">
                  {% csrf_token %}
                  <input type="submit" class="button" value="⬇" />
                </form>
              </td>
              <td>
                <form method="post" action="{% url 'poll-remove-question' poll.url question.id qlink.id %}">
                  {% csrf_token %}
                  <input type="submit" class="button" value="❌" />
                </form>
              </td>
            </tr>
          {% endwith %}
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="row">
    <div class="column medium-6 small-12">
      <h3>{% trans "Create a new one" %}</h3>
      <form method="post" action="{% url 'poll-edit-questions' poll.url %}">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
          {{ choice_forms.as_table }}
        </table>
        <input type="submit" value="Add" class="button"/>
      </form>
    </div>
    <div class="column medium-6 small-12">
      <h3>{% trans "Questions from other forms" %}</h3>
      <ul>
        {% for question in old_questions %}
          <li>
            {{ question.question }}
            {% if question.has_choices %}| {{ question.choice_values|join:", " }}{% endif %} |
            <form
                action="{% url 'poll-add-question' poll.url question.id %}?target={% url 'poll-edit-questions' poll.url %}"
                method="post">{% csrf_token %}<input type="submit" value="use"/></form>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
