{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1>{{ poll.name }}</h1>
  <h3>Questions</h3>
  <ol>
    {% for qlink in poll.questions.all %}
      {% with question=qlink.question %}
        <li>
        <p>{{ question.question }}</p>
        {% if question.has_choices %}
          <table>
            <tr>
              {% for choice in question.choices.all %}
                <td>{{ choice.value }}</td>
              {% endfor %}
            </tr>
          </table>
        {% endif %}
      {% endwith %}
    </li>
    {% endfor %}
  </ol>
  <a href="{% url 'poll-vote' poll.url %}">🗳 {% trans "Vote on this poll" %} ({% trans "requires access token" %})</a>
  <h4>{% trans "Admin actions" %}</h4>
  <table>
    <tr>
      <td><a href="{% url 'poll-edit-questions' poll.url %}">🖊 {% trans "Edit poll" %}</a></td>
      <td><a href="{% url 'poll-view-results' poll.url %}">📈 {% trans "View results" %}</a></td>
      <td><a href="{% url 'poll-token-overview' poll.url %}">🔒 {% trans "View tokens" %}</a></td>
      <td><a href="{% url 'poll-generate-tokens' poll.url %}">🔓 {% trans "Generate tokens" %}</a></td>
    </tr>
  </table>

{% endblock %}
