{% extends "base.html" %}
{% load i18n %}

{% block content %}

  {% for question in poll.questions.all %}
    <h4>{{ question.question }}</h4>
    {% if question.has_choices %}
      <table>
        <tr>
          {% for choice in question.choices.all %}
            <td><label for="{{ choice.html_input_id }}">{{ choice.value }}</label></td>
          {% endfor %}
        </tr>
        <tr>
          {% for choice in question.choices.all %}
            <td><input id="{{ choice.html_input_id }}" name="{{ question.html_question_id }}" type="radio"></td>
          {% endfor %}
        </tr>
      </table>
    {% else %}
      <label for="{{ question.html_question_id }}">{% trans "Freitextantwort" %}</label>
      <textarea id="{{ question.html_question_id }}" name="{{ question.html_question_id }}"></textarea>
    {% endif %}
  {% endfor %}


{% endblock %}