{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <form method="post" action="{% url 'poll-vote' vote_interface.poll.url %}">
    {% csrf_token %}
    <input name="token" type="hidden" value="{{ token }}">
    <ol>
      {% for question in vote_interface %}

        <li>

          <h4>{{ question.question }}</h4>
          {% if question.errored %}
            {{ question.error }}
          {% endif %}
          {% if question.is_choice %}
            <table>
              <tr>
                {% for choice in question.choices %}
                  <td><label for="{{ choice.identifier }}">{{ choice.value }}</label></td>
                {% endfor %}
              </tr>
              <tr>
                {% for choice in question.choices %}
                  <td><input{% if choice.selected %} checked{% endif %} id="{{ choice.identifier }}"
                                                     name="{{ question.html_name }}" value="{{ choice.identifier }}"
                                                     type="radio"></td>
                {% endfor %}
              </tr>
            </table>
          {% else %}
            <label for="input-{{ question.html_name }}">{% trans "Free Text Answer" %}</label>
            <textarea id="input-{{ question.html_name }}" name="{{ question.html_name }}"></textarea>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
    <a class="button" href="{% url 'poll-view' poll.url %}">❌ {% trans "Cancel" %}</a>
    <input class="button" type="submit" value="🗳 {% trans "Vote" %}"/>
  </form>

{% endblock %}
