{% extends 'base.html' %}
{% block content %}
<table>
  <tr>
    <th>Username</th>
    <td>{{ user.username }}</td>
  </tr>
  <tr>
    <th>First name</th>
    <td>{{ user.first_name }}</td>
  </tr>
  <tr>
    <th>Last name</th>
    <td>{{ user.last_name }}</td>
  </tr>
  <tr>
    <th>s number</th>
    <td>{{ user.student.s_number }}</td>
  </tr>
  <tr>
    <th>Faculty</th>
    <td>{{ user.student.faculty.name }}</td>
  </tr>
  <tr>
    <td>Courses</td>
    <td>
      <ul>
        {% for course in user.student.course_set.all %}
          <li><a href="{% url 'course' course.id %}">{{ course.subject.name }}  ::  {{ course.teacher.all|join:", " }}</a>
            <form action="{% url 'unregister-course' course.id %}" method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-default" value="unregister" />
            </form>
          </li>
        {% endfor %}
      </ul>
    </td>
  </tr>
</table>
<a href="{% url 'modify-user' %}">Edit</a>
{% endblock %}
