{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <p>{% trans "On this page you can create a new course." %}
    {% trans "You'll automatically be assigned as teacher for this course" %}
    {% trans ", so that you may be able to edit it. You can assign new teachers once the course is created" %}
    {% trans "and even unassign yourself as teacher" %}</p>
  <form action="{% url 'create-course' %}" method="post">
    {% csrf_token %}
    <table class="table">
      {{ form.as_table }}
    </table>
    <input class="button" type="submit" value="{% trans "Create" %}">
  </form>
{% endblock %}