{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <p>
        You can edit the description for your course here. You may use markdown to do so.
      </p>
      <form method="post" action="{% url 'edit-course' course_id %}">
        {% csrf_token %}
        <table class="table">
          {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" />
      </form>
      {% if perms.course.delete_course %}
        <form action="{% url 'delete-course' course_id %}">
          {% csrf_token %}
          <input type="submit" value="Delete" />
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
