{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% block enroll_response %}
{% endblock %}
<table class="table">
  <tr><td>Teachers</td>
    <td>
      {% for teacher in course.teacher.all %}<a href="{% url 'user-profile' teacher.user.id %}">{{ teacher }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
    </td>
  </tr>

  <tr><td>{% trans "Participants" %}</td><td>{{ participants_count }} {% trans "of" %}{{ max_participants }}</td></tr>

  <tr>
    <td>{% trans "Schedule" %}</td>
    <td>
      {% with course.schedule.slots as slots %}
        {% if slots %}
          <ul>
            {% for slot in slots %}
              <li>{{ slot }}</li>
            {% endfor %}
          </ul>
        {% else %}
          {% trans "No schedule has been set." %}
        {% endif %}
      {% endwith %}
    </td>
  </tr>

  <tr>
    <td>{% trans "Status" %}</td>
    <td>{% trans "This course is currently" %} {% if course.active %}{% trans "active" %}{% else %}{% trans "suspended" %}{% endif %}.</td>
  </tr>

{% if user.is_authenticated %}
  {% if is_teacher %}
    <tr>
      <td>{% trans "Participants list" %}</td>
      <td>
        <table>
          {% for student in students %}
            <tr>
              <td>{{ student }}</td>
              <td>
                <form action="{% url 'unregister-course' course.id student.id %}" method="post">
                  {% csrf_token %}
                  <input type="submit" value="{% trans "kick" %}">
                </form>
              </td>
            </tr>
          {% empty %}
            <tr><td>{% trans "Oh no, there don't seem to be any students enrolled in this course yet :(, perhaps you should advertise more." %}</td></tr>
          {% endfor %}
        </table>
      </td>
    </tr>
    <tr>
      <td>{% trans "Administrative actions" %}</td>
      <td>
        <div class="button-group">
          <a class="button" href="{% url 'edit-course' course_id %}">{% trans "Edit course" %}</a>
          <a class="button" href="{% url 'course-edit-slot' course_id %}">{% trans "Edit schedule" %}</a>
          <a class="button" href="{% url 'add-teacher' course_id %}">{% trans "Add/Remove teachers" %}</a>
          <a class="button" href="{% url 'notify-course' course_id %}">{% trans "Notify course" %}</a>
        </div>
        <form method="post" action="{% if course_is_active %}{% url 'deactivate-course' course_id %}{% else %}{% url 'activate-course' course_id %}{% endif %}">
            {% csrf_token %}
            <input type="submit" class="button" value="{% if course_is_active %}{% trans "Suspend course (unenrolls all participants)" %}{% else %}{% trans "Set course active" %}{% endif %}" />
        </form>
      </td>
    </tr>
  {% else %}
    <tr>
      <td>{% trans "Actions" %}</td>
      <td>
        {% if is_subbed %}
          {% include "course/forms/unregister.html" %}
        {% elif course.joinable %}
          {% include "course/forms/register.html" %}
        {% else %}
          <form action="#"><input disabled class="button" type="submit" value="{% trans "This course is full" %}" /></form>
        {% endif %}
      </td>
    </tr>
  {% endif %}
{% else %}
    <tr>
      <td>{% trans "Actions" %}</td>
      <td>
        If you <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> you can join this course.
      </td>
    </tr>
{% endif %}
</table>
  <div class="course-description">{{ course.get_description_as_html|safe }}</div>
{% endblock %}
