{% extends 'base.html' %}
{% block content %}
  <table class="table">
    {% for teacher in teachers.all %}
      <tr>
        <td>{{ teacher.user.first_name }} {{ teacher.user.last_name }}</td>
        <td>{{ teacher.user.username }}</td>
        <td>
          <form action="{% url 'remove-teacher' course_id teacher.id %}{% if target %}?target={{ target }}{% endif %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Remove" class="btn btn-default" />
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
  <form action="{% url 'add-teacher' course_id %}" method="post">
    {{ error }}
    <table>
      {% csrf_token %}
      {{ form.as_table }}
    </table>
    <input type="submit" value="Add">
  </form>
{% endblock %}